<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Здравствуйте, <%= @user.login %>!</h1>
<p>
  Вы успешно зарегистрировались на сайт "Первого Богатыря", и вам осталось только подтвердить свою почту.
</p>
<p>
  Чтобы это сделать, перейдите по ссылке <%= @url %>.
</p>
</body>
</html>