<%= render 'layouts/stub' %>
<!--<div class="w-full h-screen bg-pale-green">-->

  <%#= render 'layouts/header' %>
<!--  <div class="flex flex-row w-full">-->
<!--    <div class="basis-1/5 flex flex-col">-->
<!--      <label class="text-amber-950 mt-6 ml-7 text-2xl font-serif font-bold">Обсуждения</label>-->
<!--      <div class="mt-2 mr-2 ml-6 bg-white border-amber-950 border-2 rounded-md">-->
        <%#- Section.all.each do |sect| %>
<!--        <div class=" flex-col bg-pale-yellow mx-1.5 mt-1.5 rounded-md border-spacing-1 border-black ">-->
<!--          <button class=" flex justify-start p-1 mx-2 w-full text-amber-950 hover:underline font-semibold font-serif">-->
<!--            Section 1-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="flex flex-col ml-8  mr-3">-->
<!--          <p class="flex w-40 text-right truncate">-->
<!--            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
<!--          </p>-->
<!--          <p class="text-right  text-ellipsis overflow-hidden">-->
<!--            aaaaaaaaabbba-->
<!--          </p>-->
<!--        </div>-->
        <%# end %>
<!--      </div>-->

<!--    </div>-->
<!--    <div class="basis-4/5 flex mt-6 mr-4 ml-2 bg-white border-amber-950 border-2 rounded-md">-->
<!--      <button>i</button>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
