<div class="flex mt-20 min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h6 class="mt-10 text-3xl font-bold text-center justify-center leading-9 " >Вход</h6>
  </div>

  <form class="flex space-y-6 justify-center mt-10" action="#" method="post">
    <div class="flex-col justify-center">
      <div class="flex-row">
        <label for="email" > Почта </label>
        <div class="mt-1.5">
          <input id="email" class="rounded-md" placeholder="Введите почту" type="email"  >
        </div>
      </div>
      <div class="flex-row mt-4">
        <label for="password"> Пароль </label>
        <div class="mt-1.5">
          <input id="password" class="rounded-md " placeholder="Введите пароль" type="password"  >
        </div>
      </div>
      <div class="mx-auto  text-center justify-center mt-10">
        <form action="/" class="px-10 py-3">
          <button class="bg-green-600  px-10 py-1 text-white font-medium mx-1 rounded-md">Войти</button>
        </form>

      </div>
    </div>

  </form>

</div>
