<div class="w-screen h-screen bg-img  ">
  <%= render 'layouts/header' %>
  <div class="flex flex-row basis-1/4 mt-20 ml-10 justify-start">
    <%= image_tag 'first_bogatyr.png', size: 900 %>
<!--    <div class="ml-10 mr-60 font-serif text-white text-xl text-left bg-opacity-30 bg-white">-->
<!--      <p class="indent-4">-->
<!--        Самая славянская игра из всех. Игра про славян от славян и для славян. Играем и наслаждаемся! Милости просим на наш чудесный сайт радывсем-->
<!--      </p>-->
<!--      <p>-->
<!--        И каждому!-->
<!--      </p>-->
<!--    </div>-->
  </div>
</div>