<!--<nav  class="bg-gray-800">-->
<!--  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">-->
<!--    <div class="relative flex h-16 items-center justify-end">-->


<!--      <div class="relative inline-block text-left">-->
<!--        <label for="location" class="inline-flex justify-center text-sm text-gray-900"></label>-->
<!--        <select id="location" name="location" class="mb-6  w-full font-semibold rounded-md  shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none border-0 py-1.5 pl-3 pr-10 text-gray-900  focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">-->
<!--          <option selected class="font-semibold">EN</option>-->
<!--          <option class="font-semibold">RU</option>-->
<!--        </select>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<html class="h-full" lang="">-->
<!--<head>-->
<!--  <title>The First Bogatyr</title>-->
<!--</head>-->
<!--</html>-->


<!--<div class="flex items-stretch bg-grey-lighter min-h-screen h-screen w-screen top-0 left-0 right-0 fixed">-->
<!--  <nav class="border-b border-gray-200 bg-white">-->
<!--    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">-->
<!--      <div class="flex h-16 justify-between">-->
<!--        <div class="flex">-->
<!--          <div class="flex flex-shrink-0 items-center">-->
<!--            <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">-->
<!--            <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">-->
<!--          </div>-->
<!--          <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">-->
<!--            <a href="#" class="border-indigo-500 text-gray-900 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium" aria-current="page">Dashboard</a>-->
<!--            <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">Team</a>-->
<!--            <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">Projects</a>-->
<!--            <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">Calendar</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="hidden sm:ml-6 sm:flex sm:items-center justify-end">-->
<!--          <button type="button" class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">-->
<!--            <span class="absolute -inset-1.5"></span>-->
<!--            <span class="sr-only">View notifications</span>-->
<!--            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />-->
<!--            </svg>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</div>-->


<div class="">
  <nav class="underline bg-black">
    <div class="flex justify-between ">
      <div class="flex items-center">
        <%= image_tag 'logo_redbread.png', size: "300" %>
<!--        <img src="logo_redbread.png" alt="">-->
      </div>
      <div class="flex justify-end">
        <div class="flex m-4 text-xl text-white ">
          <a href="/news" class=" m-4 hover:text-gray-500">Новости</a>
          <a href="/wiki" class="relative hover:text-gray-500 m-4">Вики</a>
          <a href="/forum" class=" hover:text-gray-500 relative m-4">Форум</a>
          <a href="/info" class="relative m-4" >О нас</a>
          <a href="/support" class="m-4">Обратная связь</a>
        </div>
        <div class="flex items-center justify-end m-4">
          <%- if false then %>
            <form action="/auth" class="justify-end">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Войти
              </button>
            </form>
          <% else  %>
            <form action="">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Выйти
              </button>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>

<div>

</div>



<!--<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">-->
<!--  <div>-->
<!--    <div class="text-xl font-medium text-black">ChitChat</div>-->
<!--    <p class="text-slate-500">You have a new message!</p>-->
<!--    <button>-->

<!--    </button>-->
<!--  </div>-->
<!--</div>-->