<%= render 'layouts/header' %>

<h1>PersonalCabinet#index</h1>
<p>Find me in app/views/personal_cabinet/index.html.erb</p>
<div data-controller="personal_cabinet">
  <button data-action="click->info#clickButton"></button>
  <p data-personal-target="tg">aaaaaaaa</p>
</div>

