<div class="w-screen h-screen bg-pale-green">
  <%= render 'layouts/header' %>
    <div class="ml-10 mr-60 font-serif text-white text-xl text-left bg-pale-green">
        <p class="indent-4">
        О Нас.
        </p>
        <p>
        Red Bread – начинающая команда разработчиков игр из солнечного Ростова-на-Дону. Все мы 
        являемся студентами, и нас объединяет тяга к созданию необычных игр с проработанным 
        сюжетом. Мы черпаем вдохновение из лучших практик мирового геймдизайна, следим за 
        трендами и стараемся делать всё, чтобы игрокам было комфортно и интересно исследовать наш 
        игровой мир.
        Сейчас наша команда усердно работает над первым крупным проектом – РПГ в стиле Древней 
        Руси по мотивам сказаний славянской мифологии «The First Bogatyr» («Первый богатырь»). Игра 
        будет доступна на ПК и в браузере. В ней вас ждёт яркий нелинейный сюжет, много нового о быте 
        и легендах наших предков, открытый мир, доступный для исследования, а также множество 
        пасхалок.
        Попробовать демо-версию можно будет уже совсем скоро на площадке Яндекс.Игры. Следите за 
        новостями! 
        </p>
        <p>
        </p>
        <p>
        Команда в лицах: 
        </p>
        <p>
        Артем Медведев – проджект-менеджер
        </p>
        <p>
        Александр Земляк – главный Unity-разработчик
        </p>
        <p>
        Анна Петросян – техлид, саунд дизайнер
        </p>
        <p>
        Дарья Романько – Unity-разработчик 
        </p>
        <p>
        Антон Лучанинов – создатель карты
        </p>
        <p>
        Дарья Шувалова – графический дизайнер
        </p>
        <p>
        Олег Демьяненко – создатель анимаций
        </p>
        <p>
        Вячеслав Гвоздиков – Unity-разработчик
        </p>
        <p>
        Екатерина Лобачева – аналитик, тестировщик
        </p>
        <p>
        Валерия Суворовцева – аналитик, тестировщик
        </p>
        <p>
        </p>
        <p>
        Благодарим всех участников проекта, которые по разным причинам не смогли продолжить 
        разработку вместе с нами:
        </p>
        <p>
        Ксения Кокурина – графический дизайнер
        </p>
        <p>
        Тимофей Толстенко – графический дизайнер
        </p>
        <p>
        Екатерина Третьякова – графический дизайнер
        </p>
    </div>
</div>