<div class="mx-0 w-screen p-0 ml-0">
  <nav class="bg-grassy-green">
    <div class="flex justify-between ">
      <div class="flex items-center m-3 bg-pale-green rounded-md">
        <a class=" mx-2  justify-center" href="/">
          <%= image_tag 'logo_redbread.png', size: "250" %>
        </a>
      </div>
      <div class="flex justify-end">
        <div class="flex m-4 font-serif text-pale-yellow text-xl font-bold  hover:underline-offset-0">
          <a href="/news" class="  rounded-md relative m-4 hover:text-white hover:underline-offset-8 ">Новости</a>
          <a href="/wiki" class=" relative hover:text-white m-4">Вики</a>
          <a href="/sections" class="relative hover:text-white  m-4">Форум</a>
          <a href="/info" class="relative hover:text-white m-4" >О нас </a>
          <a href="/support" class="relative hover:text-white m-4">Обратная связь  </a>
        </div>
        <div class="flex items-center justify-end m-4">
          <%- if current_user.present? %>
            <a href="/users/<%= current_user.id %>" class="items-center">
              <%= image_tag 'funny_ded.png', size: 40  %>
            </a>
          <% else %>
            <a href="/auth" class="items-center">
              <%= image_tag 'img.png', size: 40  %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>