<div class="h-screen w-full bg-pale-green">
  <%= render 'layouts/header' %>
  <div class="flex-row mt-20 items-center justify-center">
    <div class="flex justify-center">
      <p class=" text-5xl mt-7 font-serif font-bold text-amber-950">
        Опаньки!
      </p>
    </div>
    <div class="flex justify-center">
      <p class="text-center text-3xl font-serif font-bold text-amber-950">
        Извиняйте, страничка пока в разработке!
      </p>
    </div>
    <div class="flex justify-center">
      <%= image_tag 'funny_ded.png', size: 200 %>
    </div>
  </div>
</div>